@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "climbingguide";
  default: true;
  color-scheme: light;
  --color-base-100: #fffaf0;
  --color-base-200: #ffefc4;
  --color-base-300: #f3ddb0;
  --color-base-content: #4d466e;
  --color-primary: #58d5d5;
  --color-primary-content: #4d466e;
  --color-secondary: #aee3ff;
  --color-secondary-content: #4d466e;
  --color-accent: #6599af;
  --color-accent-content: #fffaf0;
  --color-neutral: #4d466e;
  --color-neutral-content: #fffaf0;
  --color-info: #aee3ff;
  --color-info-content: #4d466e;
  --color-success: #58d5d5;
  --color-success-content: #4d466e;
  --color-warning: #f6c36b;
  --color-warning-content: #4d466e;
  --color-error: #c96f6f;
  --color-error-content: #fffaf0;
  --radius-selector: 0.5rem;
  --radius-field: 0.4rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --color-base-100-content: var(--color-base-content);
  --font-sans: "Open Sans", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-yellowtail: "Yellowtail", cursive;
}

blockquote {
  @apply my-6 border-l-1 border-l-primary bg-base-200/30 p-2 px-4 text-pretty tracking-wide;
}
